- var title="Docker Node Template";
- var description="Basic template for node application running in a docker enviroinment";
- var image="";
head
    title #{title}
    meta(name='description', content=description)
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    //- Open Graph General (Facebook & Pinterest)
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:site_name', content=title)
    meta(property='og:image', content=image)
    meta(property='fb:admins', content='')
    meta(property='fb:app_id', content='')
    meta(property='og:type', content='website')
    meta(property='og:locale', content='')
    meta(property='og:audio', content='')
    meta(property='og:video', content='')
    //- Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='')
    meta(name='twitter:title', content=title)
    meta(name='twitter:description', content=description)
    meta(name='twitter:creator', content='')
    meta(name='twitter:image:src', content=image)
    meta(name='twitter:player', content='')
    //- Favicons
    //- link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    //- link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    //- link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    //- link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    //- link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    //- link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    //- link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    //- link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    //- link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    //- link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    //- link(rel='manifest', href='./manifest.json')
    //- meta(name='msapplication-TileColor', content='#ffffff')
    //- meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    //- meta(name='theme-color', content='#ffffff')
    //- CSS
    link(href="client.sass", rel="stylesheet")
    script(src="client.js")
body
    h1 Docker Node Template: client.pug